.grid-container{
    display:grid;
    grid-template-columns: 33% 33% 33%  ;
    
    grid-gap:5 em 
}
.grid-container-top{
    display:grid;
    grid-template-columns: 70% 30%  ;
    
    grid-gap:5 em 
}
.grid-item{
    margin:15px;
    text-align:left;
    background-color:white;
   
   border-radius: 0.5%;
   box-shadow: 0 0 10px #56ad90;
   padding:20px;
}
#toplinks{
    list-style: none;
  grid-column-start: 2;
  grid-column-end:2;
   
   padding:3%;
   background-color:#66CDAA;
    
    width:100%;
    text-align: right;
}
#topname{
    grid-column-start: 1;
    
    margin-bottom:5%;
    color:white;
    text-shadow: 1px 1px  #56ad90;
    padding: 2%;
    text-align:left;
    
}

#addiinfo{
    grid-column:1/3;
    grid-row-start: 1; 
    font-size:2rem; 
 }
 #addiinfo p{
     margin-block-start: 0.5em;
     margin-block-end:0.5em;
     text-indent:-1em;
     padding-left:1em;
 }

#intro{
    grid-column-start:3;
    
   
   
}
#skills{
    grid-column-end: 2;
    grid-row-start:2;
    
}
#experience{
    grid-column: 2/4;
    grid-row-start:2;
    
    
}
main{
   
  position: relative;
   margin-left:auto;
   margin-right:auto;
    width:90%;
    
    background-color:inherit;
}
#toplinks li {
    display: inline-block;
  width:30px;
  margin:2%;
  background-color: #66CDAA;
  padding:2%;
  border-radius: 50%;
  
    
}

li.icon img {
    
    width:100%;
    height:100%
    
}


html,body {
    background-color: #66CDAA; 
    width:100%;
    height:100%; 
    list-style: none;
    color:black;
    font-family:  'Roboto', sans-serif;}
body{
    font-size:16px;
    top:0;
    min-height: 100%;
}
.greenwords{
    color:#66CDAA;
}

.titles,h1,h2,h3{
font-family:'Fredoka One', cursive;
}
  

h1{
    font-size: 3rem;
    border-bottom: 5px solid #66CDAA;
}
h2{
    font-size:1.5rem;
    border-bottom: 2px solid #66CDAA;
}
h3{
    font-size:1rem;
    border-bottom: 2px solid #66CDAA;
}
#face{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    border-radius: 50%;
    height:auto;
    box-shadow: 0 0 10px #ccc ;
    
}
dl{
    list-style: none;
}
ul{
    padding-inline-start: 0;
    list-style: none;
}
@media screen and (max-width:700px){
    .grid-container{
    display:list-item;
    }
    h1{
        font-size: 1.5rem

    }
    
}

@media screen and (max-width:700px){
    #toplinks li{
        width:20px;
    }
}
.colon dt{
    float:left;
    clear:left;
    text-align:left;
    
    
}
 .colon dt::after{
     content:":";
 }
 .colon dd{
    margin-inline-start:0;
    margin-top: 2px;
 }
 dt{
    font-family:'Fredoka One', cursive;
 }
